@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
	--ff-primary: 'Plus Jakarta Sans', sans-serif;
	--primary-color: #356cbd;
	--dark-color: #1e2025;
	--background-color: #292b33;
	--soft-dark-color: #5b5e66;
	--text-color: #d8d8d8;

	--red-color: #9a153d;
	--orange-color: #e25e3e;
	--green-color: #219c90;

	--red-hover: #f31559;
	--primary-hover: #619af1;

	--border-radius: 0.375rem;
}

.input-wrapper {
	width: 100%;
	height: 3rem;
	padding-inline: 0.75rem;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	background-color: var(--dark-color);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.input-wrapper > i {
	color: var(--soft-dark-color);
}

.input-wrapper > input {
	height: 100%;
	width: 100%;
	background-color: transparent;
}

.header {
	width: 100%;
	max-width: 32rem;
	margin-block: 1rem;
}

.header .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.25s ease;
	color: var(--text-color);
	gap: 0.5rem;
	width: fit-content;
	margin-inline: auto;
}

.logo .title {
	font-size: 2rem;
	font-weight: 800;
}

.logo > i {
	font-size: 1.5rem;
}

.header .navbar {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.navbar .add-book {
	height: 3rem;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--dark-color);
	border-radius: var(--border-radius);
	outline: 2px solid transparent;
	transition-duration: 0.25s;
}

.navbar .add-book:hover,
.navbar .add-book:focus {
	outline: 2px solid var(--soft-dark-color);
}

.add-book > i {
	font-weight: 600;
	color: var(--soft-dark-color);
}

.book-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.book-container .list-book-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--soft-dark-color);
	padding-bottom: 0.5rem;
}

.list-book-header .list-book-title {
	font-size: 0.75rem;
	font-weight: 600;
}

.list-book-header .list-book-count {
	font-size: 0.75rem;
	font-weight: 600;
}

.book-container .book-list {
	display: flex;
	flex-direction: column;
	max-height: 180px;
	overflow-y: auto;
}

.book-list .book-list-item {
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--border-radius);
	transition: 0.3s ease;
	cursor: default;
}

.book-list .book-list-item:hover {
	background-color: var(--dark-color);
}

.book-list-item .book-item-container {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	width: 100%;
}

.book-item-container .book-item-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.book-item-wrapper .book-item-header,
.book-item-wrapper .book-item-footer {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.book-item-wrapper .book-item-footer {
	align-items: flex-end;
}

.book-item-header .book-title {
	font-size: 0.875rem;
	font-weight: 800;
}

.book-item-header .book-author {
	font-size: 0.75rem;
}

.book-item-footer .book-year {
	font-size: 0.75rem;
	font-weight: 600;
}

.book-item-footer .book-action {
	display: flex;
	gap: 0.75rem;
}

.edit-book-button > i,
.delete-book-button > i,
.uncompleted-read-button > i,
.completed-read-button > i {
	font-size: 1.125rem;
}

.book-not-found {
	display: flex;
	flex-direction: column;
	text-align: center;
	opacity: 0;
}

.book-not-found.show {
	opacity: 1;
}

.book-not-found > span {
	font-weight: 800;
}

.modal-form {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 1rem;
	transform: translate(-50%, -50%);
	max-width: 23.125rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.875rem;
	background-color: var(--dark-color);
	border-radius: var(--border-radius);
	transition: all 0.3s ease-in-out;
	z-index: -9;
	opacity: 0;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.modal-form.show {
	top: 57%;
	opacity: 1;
	z-index: 99;
}

.modal-form .modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--soft-dark-color);
	padding-bottom: 1rem;
}

.modal-header .modal-title {
	font-size: 1.2rem;
	font-weight: 800;
}

.modal-header .close-modal-form {
	background-color: var(--background-color);
	padding: 0.5rem 0.75rem;
	border-radius: var(--border-radius);
	outline: 2px solid transparent;
	transition: 0.3s;
}

.modal-header .close-modal-form:hover {
	outline: 2px solid var(--soft-dark-color);
}

.modal-form .modal-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.modal-content .input-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-field .input-wrapper {
	background-color: var(--background-color);
}

.modal-content .submit-book {
	height: 3rem;
	margin-top: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	background-color: var(--primary-color);
	border-radius: var(--border-radius);
	outline: 2px solid transparent;
	transition: outline 0.3s ease-in-out;
}

.modal-content .submit-book:hover {
	outline: 2px solid var(--primary-hover);
}

.modal-alert {
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 1rem;
	transform: translate(-50%, -50%);
	max-width: 21.875rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.875rem;
	background-color: var(--dark-color);
	border-radius: var(--border-radius);
	transition: all 0.3s ease-in-out;
	opacity: 0;
	z-index: -9;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.modal-alert.show {
	top: 55%;
	opacity: 1;
	z-index: 99;
}

.modal-alert .modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--soft-dark-color);
	padding-bottom: 1rem;
}

.modal-alert .modal-title {
	font-size: 1.2rem;
	font-weight: 800;
}

.modal-alert .close-modal-alert {
	background-color: var(--background-color);
	padding: 0.5rem 0.75rem;
	border-radius: var(--border-radius);
	outline: 2px solid transparent;
	transition: 0.3s;
}

.modal-alert .close-modal-alert:hover {
	outline: 2px solid var(--soft-dark-color);
}

.modal-alert .modal-content {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.modal-content .modal-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-action .cancel-button,
.modal-action .delete-button {
	padding: 0.5rem 0.75rem;
	font-weight: 600;
	border-radius: var(--border-radius);
	outline: 2px solid transparent;
	transition: outline 0.3s ease-in-out;
}

.modal-action .cancel-button {
	background-color: var(--background-color);
}

.modal-action .delete-button {
	background-color: var(--red-color);
	color: var(--text-color);
}

.modal-action .cancel-button:hover {
	outline: 2px solid var(--soft-dark-color);
}

.modal-action .delete-button:hover {
	outline: 2px solid var(--red-hover);
}

.modal-blur {
	inset: 0;
	position: fixed;
	background-color: var(--text-color) / 0.2;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	transition: all 0.3s ease-in-out;
	opacity: 0;
	z-index: -9;
}

.modal-blur.show {
	opacity: 1;
	z-index: 9;
}

.edit-book-button,
.delete-book-button,
.completed-read-button,
.uncompleted-read-botton {
	transition: 0.3s ease;
}

.edit-book-button:hover,
.uncompleted-read-button:hover {
	color: var(--green-color);
}

.delete-book-button:hover {
	color: var(--red-hover);
}

.completed-read-button:hover {
	color: var(--orange-color);
}
